* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

#header-image {
  height: 30rem;
  width: 100%;

}

.page-1 {
  display: flex;
  flex-direction: column;
  align-items: center
}

.continuous-1 {
  background:
    linear-gradient(currentColor 0 0) var(--d, 201%) 100% /200% 3px no-repeat;
  transition: 0.5s;
}

.continuous-1:hover {
  --d: -101%;
}

/* Centers Page 2 menu */
.page-2 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

/* Hover effect for page 2 btns */
.page2btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*Favorite btn*/
#favorite-btn {
  width: 20rem;
  margin: 10px;
}

/* Hover effect for favorite btn */
#favorite-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);

}

/*Home button*/
.home-btn {
  width: 20rem;
  margin: 10px;

}

/* Hover effect for home button */
.home-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/*Text formmating for cuisine header*/
h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

/* Highlighting effect for food headers */
.headereffect:hover {
  background-color: rgb(0, 0, 0, 0.5);
  width: 50%;
  margin: 0 25%;
}

/*Image styling*/
img {
  margin-bottom: 3rem;
}

/*recipe*/
.recipe {
  color: white;
  text-align: center;
  padding: 25px 100px;
  font-size: 24px;
}

/*Button look property*/
button {
  margin: 1rem 20%;
  padding: 1rem;
  font-size: 50px;
  border-radius: 8px;
  border: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  background-size: 100%;
  width: 35rem;
  font-family: "Dancing Script", cursive;

}

/*Hover effect for the homepage buttons*/
button:hover {
  background-color: rgba(0, 0, 0, 0.5);

}

#result {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/*Main Homepage food image*/
#main-image {
  width: 100%;
  height: auto;
  opacity: .6;
}

/*Webpage chalkboard background*/
body {
  background-color: rgb(0, 0, 0);
  background-image: url(../Images/chalkboard_vertical.jpeg);
  background-size: 100%;
}

/*Text attributes*/
.text {
  font-family: "Dancing Script", cursive;
  color: white;
  text-align: center;
  width: 100%;
  height: 0;
}

/*Font size for the header text only*/
#header {
  font-size: 75px;
}


/*Footer font style*/
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

/* Footer position */
footer {
  margin: auto;
  padding: 85px;
  height: 30px;
  width: 100%;
  text-align: center
}

/* Heading text format*/
h1 {
  margin-bottom: 50px;
}

/* Button text styling */
.btntext {
  font-family: "Dancing Script", cursive;
  text-align: center;
  width: 35%;
  background-size: cover;
  color: white;

}

#title {
  top: -25rem;
  margin: auto;
  text-shadow: 10px 10px 8px black;
  position: relative;
}

#favList {
  font-size: 25px !important;
}

@media only screen and (max-width: 1050px) {
  #title {
    top: -20rem;
  }

  a {
    margin: 25px auto;
  }
}

@media only screen and (max-width: 850px) {
  #title {
    top: -16rem;
  }

  h1#title {
    font-size: 120px;
  }

  #favorite-btn {
    font-size: 25px;
    width: 20rem;
  }

  .home-btn {
    width: 20rem;
    font-size: 25px;
  }

  img {
    height: 18rem;
    width: fit-content;
  }
}

@media only screen and (max-width: 650px) {

  /* Media query */
  h1#title {
    font-size: 75px;
  }

  #title {
    top: -11rem;
  }

  img {
    height: 13rem;
    width: fit-content;
    margin-bottom: 2rem;
  }

  button {
    font-size: 40px;
    width: 20rem;
  }

  a {
    left: 0%;
    position: relative;
    padding-bottom: 1rem;
  }

}


@media only screen and (max-width: 450px) {

  /* Media query */
  h1#title {
    font-size: 60px;
  }

  #title {
    top: -8rem;
  }

  img {
    height: 10rem;
    width: fit-content;
    margin-bottom: 1rem;
  }

  button {
    font-size: 30px;
    width: 15rem;
  }

  a {
    left: 0%;
    position: relative;
    font-size: 20px;
  }

  #main-image {
    margin-top: 0;
  }

  footer {
    position: absolute;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 25px;
  }

  .recipe {
    font-size: 10px;
    padding: 15px;
  }

  #favorite-btn {
    font-size: 25px;
    width: 10rem;
  }

  .home-btn {
    width: 10rem;
    font-size: 25px;
  }


}